<section
  class="flex flex-wrap w-full h-screen text-white text-6xl font-black content-center"
>
  <h1 class="max-w-96 m-10">CREATIVE DEVELOPER</h1>
  <div class="w-full grid justify-items-end">
    <h2 class=" max-w-80 m-10 text-right">GASTÓN VIGLIANO</h2>
  </div>
</section>
