<nav>
    <span>GASTÓN VIGLIANO</span>
    <ul>
      <li></li>
      <li>
        ✅ <span>AVAILABLE </span>
        <span>
          <b>MAY 2024</b>
        </span>
      </li>
      <li>
        <a href="mailto:gastonvigliano@gmail.com">
          <span>gastonvigliano@gmail.com</span>
        </a>
      </li>
    </ul>
  </nav>